In [109]:
# Converts JSON file to a dataframe format outlined by the research paper.

In [110]:
import os
import pandas as pd
import numpy as np
import textwrap
import datetime
import pytz
import json
import re

DATA_FILE = "data_storage.json"

# Number of paired ICDs and probabilities we want to capture
PAIRS = 5

In [111]:
# F(x): Initialize the data storage dictionary

def load_data(filename=DATA_FILE):
    
    if os.path.exists(filename):
        print(f"{filename} found. Loading data...")
        with open(filename, 'r') as file:
            data = json.load(file)
        return data
    else:
        print(f"{filename} not found. Initializing empty dictionary...")
        return {}

def save_data(data, filename=DATA_FILE):
    # Save data to a file    
    with open(filename, 'w') as file:
        json.dump(data, file)

In [ ]:
# # BACKUP
# # F(x): Extract ICD probabilities from tokens

# def extract_icd_probabilities(logprobs, output="simple"):
#     parsed_icd = []
#     parsed_icd_logprobs = []
#     for pos in range(len(logprobs)):
#         print(logprobs[pos: pos+4])
#         temp_df = pd.DataFrame(logprobs[pos: pos+4])
#         display(temp_df)
#         temp_df = temp_df[temp_df[0].notna() & (temp_df[0].str.strip() != '')]
#         temp_df = temp_df[temp_df[0].str.strip() != '\n']
#         temp_concat = ''.join(temp_df.iloc[:, 0]).strip()
#         if len(temp_concat) > 9:
#             continue
#         # pattern = r'^[A-Z]\d{0,4}(\.\d{0,4})?$'
#         pattern_4part = r'^[A-Z]\d{0,4}(\.\d{1,4})?$'
#         match = re.match(pattern_4part, temp_concat)

#         if match:
#             # print(f"{temp_concat} - valid ICD {np.round((np.exp(temp_df.iloc[:, 1]).mean())*100,2)}%")
#             # print(f"**** {temp_concat} - VALID 2-parts ICD ****")
#             parsed_icd.append((temp_concat, (np.exp(temp_df.iloc[:, 1]).mean())))
#             # display(temp_df)
#             parsed_icd_logprobs.append(temp_df.rename(columns={0: 'token', 1:'logprob'}).to_dict(orient='list'))
#         else:
#             # print(f"{temp_concat} - invalid 4-parts.")
            
#             #trying 2-parts
#             temp_df = pd.DataFrame(logprobs[pos: pos+2])
#             temp_concat = ''.join(temp_df.iloc[:, 0]).strip()
#             pattern_2part = r'^[A-Z]\d{1,4}$'
#             match = re.match(pattern_2part, temp_concat)
#             if match:
#                 # print(f"**** {temp_concat} - VALID 2-parts ICD ****")
#                 parsed_icd.append((temp_concat, (np.exp(temp_df.iloc[:, 1]).mean())))
#                 parsed_icd_logprobs.append(temp_df.rename(columns={0: 'token', 1:'logprob'}).to_dict(orient='list'))
#             else:
#                 # print(f"{temp_concat} - invalid 2-parts.")
#                 pass
#             pass
#     if output == "logprobs":
#         return parsed_icd, parsed_icd_logprobs
#     else:
#         return parsed_icd

In [191]:
# F(x): Extract ICD probabilities from tokens

test = [['A', -0.63648945],  ['09', -1.4643841], ['\n', -0.9866263], ['R', -0.6599979], ['50', -1.5362289],
 ['.', -0.05481864],  ['9', -0.002321772], ['\n', -0.3524723], ['R', -0.56709456], ['11', -1.263591],
 ['.', -0.05834798], ['0', -0.73551023], ['\n', -0.5051807], ['R', -0.65759194], ['63', -1.0282977],
 ['.', -0.0006772888], ['4', -0.71002203]]

def extract_icd_probabilities(logprobs, output="simple"):
    parsed_icd = []
    parsed_icd_logprobs = []
    tmp_df = pd.DataFrame(logprobs)
    print(repr(''.join(tmp_df.iloc[:,0])))
    tmp_df_limit = len(tmp_df)
    for pos in range(tmp_df_limit):
        temp_concat_ANN = ''.join(tmp_df.iloc[pos:pos+2, 0]) # concatenate 2 parts        
        # temp_concat_2 = temp_concat_2.split('\n', 1)[0] # remove newline and everything after it

        temp_concat_ANN_NNN = ''.join(tmp_df.iloc[pos:pos+4, 0]) # concatenate 4 parts
        # temp_concat_4 = temp_concat_4.split('\n', 1)[0] # remove newline and everything after it
        temp_concat_ANN_NNN_A = ''.join(tmp_df.iloc[pos:pos+5, 0]) # concatenate 4 parts
        
        # unified_pattern = r"^[A-Z]\d{1,3}(\.\d{1,4})?$" # unified pattern for 2 and 4 parts
        pattern_ANN = r"^[A-Z]\d{2}$" # pattern for ANN
        pattern_ANN_NNN = r"^[A-Z]\d{2}\.\d{1,3}$" # pattern for ANN.NNN
        pattern_ANN_NNN_A = r"^[A-Z]\d{2}\.\d{1,3}[A-Z]$" # pattern for ANN.NNNA
        
        match_ANN = re.match(pattern_ANN, temp_concat_ANN)
        match_ANN_NNN = re.match(pattern_ANN_NNN, temp_concat_ANN_NNN)
        match_ANN_NNN_A = re.match(pattern_ANN_NNN_A, temp_concat_ANN_NNN_A)
        
        # print(str(pos).ljust(4), repr(temp_concat_ANN).ljust(10), ('yes' if match_ANN else 'no').ljust(15), repr(temp_concat_ANN_NNN).ljust(10), ('yes' if match_ANN_NNN else 'no').ljust(5))
        print(str(pos).ljust(4), repr(temp_concat_ANN).ljust(10), ('yes' if match_ANN else 'no').ljust(15), repr(temp_concat_ANN_NNN).ljust(10), ('yes' if match_ANN_NNN else 'no').ljust(15), repr(temp_concat_ANN_NNN_A).ljust(10), ('yes' if match_ANN_NNN_A else 'no').ljust(5))
        
        if match_ANN_NNN_A:
            match_df = pd.DataFrame(logprobs[pos:pos+5])
            parsed_icd.append(temp_concat_ANN_NNN_A)
        elif match_ANN_NNN:
            match_df = pd.DataFrame(logprobs[pos:pos+4])
            parsed_icd.append(temp_concat_ANN_NNN)
        elif match_ANN:
            match_df = pd.DataFrame(logprobs[pos:pos+2])
            parsed_icd.append(temp_concat_ANN)
        else:
            continue
        
        display(match_df)
        
        
    # for pos in range(len(logprobs)):
    #     print(logprobs[pos: pos+4])
    #     temp_df = pd.DataFrame(logprobs[pos: pos+4])
    #     display(temp_df)
    #     temp_df = temp_df[temp_df[0].notna() & (temp_df[0].str.strip() != '')]
    #     temp_df = temp_df[temp_df[0].str.strip() != '\n']
    #     temp_concat = ''.join(temp_df.iloc[:, 0]).strip()
    #     if len(temp_concat) > 9:
    #         continue
    #     # pattern = r'^[A-Z]\d{0,4}(\.\d{0,4})?$'
    #     pattern_4part = r'^[A-Z]\d{0,4}(\.\d{1,4})?$'
    #     match = re.match(pattern_4part, temp_concat)

    #     if match:
    #         # print(f"{temp_concat} - valid ICD {np.round((np.exp(temp_df.iloc[:, 1]).mean())*100,2)}%")
    #         # print(f"**** {temp_concat} - VALID 2-parts ICD ****")
    #         parsed_icd.append((temp_concat, (np.exp(temp_df.iloc[:, 1]).mean())))
    #         # display(temp_df)
    #         parsed_icd_logprobs.append(temp_df.rename(columns={0: 'token', 1:'logprob'}).to_dict(orient='list'))
    #     else:
    #         # print(f"{temp_concat} - invalid 4-parts.")
            
    #         #trying 2-parts
    #         temp_df = pd.DataFrame(logprobs[pos: pos+2])
    #         temp_concat = ''.join(temp_df.iloc[:, 0]).strip()
    #         pattern_2part = r'^[A-Z]\d{1,4}$'
    #         match = re.match(pattern_2part, temp_concat)
    #         if match:
    #             # print(f"**** {temp_concat} - VALID 2-parts ICD ****")
    #             parsed_icd.append((temp_concat, (np.exp(temp_df.iloc[:, 1]).mean())))
    #             parsed_icd_logprobs.append(temp_df.rename(columns={0: 'token', 1:'logprob'}).to_dict(orient='list'))
    #         else:
    #             # print(f"{temp_concat} - invalid 2-parts.")
    #             pass
    #         pass
    if output == "logprobs":
        return parsed_icd, parsed_icd_logprobs
    else:
        return parsed_icd
    


extract_icd_probabilities(test, output="logprobs")

'A09\nR50.9\nR11.0\nR63.4'
0    'A09'      yes             'A09\nR'   no              'A09\nR50' no
1    '09\n'     no              '09\nR50'  no              '09\nR50.' no
2    '\nR'      no              '\nR50.'   no              '\nR50.9'  no
3    'R50'      yes             'R50.9'    yes             'R50.9\n'  no
4    '50.'      no              '50.9\n'   no              '50.9\nR'  no
5    '.9'       no              '.9\nR'    no              '.9\nR11'  no
6    '9\n'      no              '9\nR11'   no              '9\nR11.'  no
7    '\nR'      no              '\nR11.'   no              '\nR11.0'  no
8    'R11'      yes             'R11.0'    yes             'R11.0\n'  no
9    '11.'      no              '11.0\n'   no              '11.0\nR'  no
10   '.0'       no              '.0\nR'    no              '.0\nR63'  no
11   '0\n'      no              '0\nR63'   no              '0\nR63.'  no
12   '\nR'      no              '\nR63.'   no              '\nR63.4'  no
13   'R63'      yes             'R63.4'    yes             'R63.4'    no
14   '63.'      no              '63.4'     no              '63.4'     no
15   '.4'       no              '.4'       no              '.4'       no
16   '4'        no              '4'        no              '4'        no

([], [])

In [170]:
# Load JSON data and convert to dataframe
data_storage = load_data()
df = pd.DataFrame(data_storage).T

# to speed up processing, we will sample 100 rows
df = df.loc[['14004747', '14002839', 
             '14002323', '14001355', '14000201', '14005633',
       '24000550', '24002181', '24000721', '24000129', '24000117', '24000186',
       '14002203', '14006139', '24003520',
       '14002421', '14009193', '24002598',
       ]]
# df = df.sample(500)

data_storage.json found. Loading data...

In [192]:
df['logprobs'].apply(extract_icd_probabilities)

'A09\nR50.9\nR11.0\nR63.4'
0    'A09'      yes             'A09\nR'   no              'A09\nR50' no
1    '09\n'     no              '09\nR50'  no              '09\nR50.' no
2    '\nR'      no              '\nR50.'   no              '\nR50.9'  no
3    'R50'      yes             'R50.9'    yes             'R50.9\n'  no
4    '50.'      no              '50.9\n'   no              '50.9\nR'  no
5    '.9'       no              '.9\nR'    no              '.9\nR11'  no
6    '9\n'      no              '9\nR11'   no              '9\nR11.'  no
7    '\nR'      no              '\nR11.'   no              '\nR11.0'  no
8    'R11'      yes             'R11.0'    yes             'R11.0\n'  no
9    '11.'      no              '11.0\n'   no              '11.0\nR'  no
10   '.0'       no              '.0\nR'    no              '.0\nR63'  no
11   '0\n'      no              '0\nR63'   no              '0\nR63.'  no
12   '\nR'      no              '\nR63.'   no              '\nR63.4'  no
13   'R63'      yes             'R63.4'    yes             'R63.4'    no
14   '63.'      no              '63.4'     no              '63.4'     no
15   '.4'       no              '.4'       no              '.4'       no
16   '4'        no              '4'        no              '4'        no
'T43.6X5A'
0    'T43'      yes             'T43.6'    yes             'T43.6X'   yes
1    '43.'      no              '43.6X'    no              '43.6X5'   no
2    '.6'       no              '.6X5'     no              '.6X5A'    no
3    '6X'       no              '6X5A'     no              '6X5A'     no
4    'X5'       no              'X5A'      no              'X5A'      no
5    '5A'       no              '5A'       no              '5A'       no
6    'A'        no              'A'        no              'A'        no
'T79.3\nT88.9\nN17.9'
0    'T79'      yes             'T79.3'    yes             'T79.3\n'  no
1    '79.'      no              '79.3\n'   no              '79.3\nT'  no
2    '.3'       no              '.3\nT'    no              '.3\nT88'  no
3    '3\n'      no              '3\nT88'   no              '3\nT88.'  no
4    '\nT'      no              '\nT88.'   no              '\nT88.9'  no
5    'T88'      yes             'T88.9'    yes             'T88.9\n'  no
6    '88.'      no              '88.9\n'   no              '88.9\nN'  no
7    '.9'       no              '.9\nN'    no              '.9\nN17'  no
8    '9\n'      no              '9\nN17'   no              '9\nN17.'  no
9    '\nN'      no              '\nN17.'   no              '\nN17.9'  no
10   'N17'      yes             'N17.9'    yes             'N17.9'    no
11   '17.'      no              '17.9'     no              '17.9'     no
12   '.9'       no              '.9'       no              '.9'       no
13   '9'        no              '9'        no              '9'        no
'K59\nD62'
0    'K59'      yes             'K59\nD'   no              'K59\nD62' no
1    '59\n'     no              '59\nD62'  no              '59\nD62'  no
2    '\nD'      no              '\nD62'    no              '\nD62'    no
3    'D62'      yes             'D62'      no              'D62'      no
4    '62'       no              '62'       no              '62'       no
'K29.5\nR57.0\nR11.2\nJ18.9\nK92.1'
0    'K29'      yes             'K29.5'    yes             'K29.5\n'  no
1    '29.'      no              '29.5\n'   no              '29.5\nR'  no
2    '.5'       no              '.5\nR'    no              '.5\nR57'  no
3    '5\n'      no              '5\nR57'   no              '5\nR57.'  no
4    '\nR'      no              '\nR57.'   no              '\nR57.0'  no
5    'R57'      yes             'R57.0'    yes             'R57.0\n'  no
6    '57.'      no              '57.0\n'   no              '57.0\nR'  no
7    '.0'       no              '.0\nR'    no              '.0\nR11'  no
8    '0\n'      no              '0\nR11'   no              '0\nR11.'  no
9    '\nR'      no              '\nR11.'   no              '\nR11.2'  no
10   'R11'      yes             'R11.2'    yes             'R11.2\n'  no
11   '11.'      no              '11.2\n'   no              '11.2\nJ'  no
12   '.2'       no              '.2\nJ'    no              '.2\nJ18'  no
13   '2\n'      no              '2\nJ18'   no              '2\nJ18.'  no
14   '\nJ'      no              '\nJ18.'   no              '\nJ18.9'  no
15   'J18'      yes             'J18.9'    yes             'J18.9\n'  no
16   '18.'      no              '18.9\n'   no              '18.9\nK'  no
17   '.9'       no              '.9\nK'    no              '.9\nK92'  no
18   '9\n'      no              '9\nK92'   no              '9\nK92.'  no
19   '\nK'      no              '\nK92.'   no              '\nK92.1'  no
20   'K92'      yes             'K92.1'    yes             'K92.1'    no
21   '92.'      no              '92.1'     no              '92.1'     no
22   '.1'       no              '.1'       no              '.1'       no
23   '1'        no              '1'        no              '1'        no
'K65\nB50'
0    'K65'      yes             'K65\nB'   no              'K65\nB50' no
1    '65\n'     no              '65\nB50'  no              '65\nB50'  no
2    '\nB'      no              '\nB50'    no              '\nB50'    no
3    'B50'      yes             'B50'      no              'B50'      no
4    '50'       no              '50'       no              '50'       no
'K65\nB50'
0    'K65'      yes             'K65\nB'   no              'K65\nB50' no
1    '65\n'     no              '65\nB50'  no              '65\nB50'  no
2    '\nB'      no              '\nB50'    no              '\nB50'    no
3    'B50'      yes             'B50'      no              'B50'      no
4    '50'       no              '50'       no              '50'       no
'S36.8X9A'
0    'S36'      yes             'S36.8'    yes             'S36.8X'   yes
1    '36.'      no              '36.8X'    no              '36.8X9'   no
2    '.8'       no              '.8X9'     no              '.8X9A'    no
3    '8X'       no              '8X9A'     no              '8X9A'     no
4    'X9'       no              'X9A'      no              'X9A'      no
5    '9A'       no              '9A'       no              '9A'       no
6    'A'        no              'A'        no              'A'        no
'V89.2 (Pedestrian injured in collision with other nonmotor vehicle in traffic accident)\nT79.6 (Traumatic shock)\nJ45.909 (Unspecified asthma, uncomplicated)'
0    'V89'      yes             'V89.2'    yes             'V89.2 ('  no
1    '89.'      no              '89.2 ('   no              '89.2 (Ped' no
2    '.2'       no              '.2 (Ped'  no              '.2 (Pedest' no
3    '2 ('      no              '2 (Pedest' no              '2 (Pedestrian' no
4    ' (Ped'    no              ' (Pedestrian' no              ' (Pedestrian injured' no
5    'Pedest'   no              'Pedestrian injured' no              'Pedestrian injured in' no
6    'estrian'  no              'estrian injured in' no              'estrian injured in collision' no
7    'rian injured' no              'rian injured in collision' no              'rian injured in collision with' no
8    ' injured in' no              ' injured in collision with' no              ' injured in collision with other' no
9    ' in collision' no              ' in collision with other' no              ' in collision with other non' no
10   ' collision with' no              ' collision with other non' no              ' collision with other nonmotor' no
11   ' with other' no              ' with other nonmotor' no              ' with other nonmotor vehicle' no
12   ' other non' no              ' other nonmotor vehicle' no              ' other nonmotor vehicle in' no
13   ' nonmotor' no              ' nonmotor vehicle in' no              ' nonmotor vehicle in traffic' no
14   'motor vehicle' no              'motor vehicle in traffic' no              'motor vehicle in traffic accident' no
15   ' vehicle in' no              ' vehicle in traffic accident' no              ' vehicle in traffic accident)\n' no
16   ' in traffic' no              ' in traffic accident)\n' no              ' in traffic accident)\nT' no
17   ' traffic accident' no              ' traffic accident)\nT' no              ' traffic accident)\nT79' no
18   ' accident)\n' no              ' accident)\nT79' no              ' accident)\nT79.' no
19   ')\nT'     no              ')\nT79.'  no              ')\nT79.6' no
20   'T79'      yes             'T79.6'    yes             'T79.6 ('  no
21   '79.'      no              '79.6 ('   no              '79.6 (Tra' no
22   '.6'       no              '.6 (Tra'  no              '.6 (Traumatic' no
23   '6 ('      no              '6 (Traumatic' no              '6 (Traumatic shock' no
24   ' (Tra'    no              ' (Traumatic shock' no              ' (Traumatic shock)\n' no
25   'Traumatic' no              'Traumatic shock)\n' no              'Traumatic shock)\nJ' no
26   'umatic shock' no              'umatic shock)\nJ' no              'umatic shock)\nJ45' no
27   ' shock)\n' no              ' shock)\nJ45' no              ' shock)\nJ45.' no
28   ')\nJ'     no              ')\nJ45.'  no              ')\nJ45.909' no
29   'J45'      yes             'J45.909'  yes             'J45.909 (' no
30   '45.'      no              '45.909 (' no              '45.909 (Un' no
31   '.909'     no              '.909 (Un' no              '.909 (Unspecified' no
32   '909 ('    no              '909 (Unspecified' no              '909 (Unspecified asthma' no
33   ' (Un'     no              ' (Unspecified asthma' no              ' (Unspecified asthma,' no
34   'Unspecified' no              'Unspecified asthma,' no              'Unspecified asthma, uncomp' no
35   'specified asthma' no              'specified asthma, uncomp' no              'specified asthma, uncomplicated' no
36   ' asthma,' no              ' asthma, uncomplicated' no              ' asthma, uncomplicated)' no
37   ', uncomp' no              ', uncomplicated)' no              ', uncomplicated)' no
38   ' uncomplicated' no              ' uncomplicated)' no              ' uncomplicated)' no
39   'licated)' no              'licated)' no              'licated)' no
40   ')'        no              ')'        no              ')'        no
'H54\nI63.9\nR60.9'
0    'H54'      yes             'H54\nI'   no              'H54\nI63' no
1    '54\n'     no              '54\nI63'  no              '54\nI63.' no
2    '\nI'      no              '\nI63.'   no              '\nI63.9'  no
3    'I63'      yes             'I63.9'    yes             'I63.9\n'  no
4    '63.'      no              '63.9\n'   no              '63.9\nR'  no
5    '.9'       no              '.9\nR'    no              '.9\nR60'  no
6    '9\n'      no              '9\nR60'   no              '9\nR60.'  no
7    '\nR'      no              '\nR60.'   no              '\nR60.9'  no
8    'R60'      yes             'R60.9'    yes             'R60.9'    no
9    '60.'      no              '60.9'     no              '60.9'     no
10   '.9'       no              '.9'       no              '.9'       no
11   '9'        no              '9'        no              '9'        no
'I50  \nJ18  '
0    'I50'      yes             'I50  \nJ' no              'I50  \nJ18' no
1    '50  \n'   no              '50  \nJ18' no              '50  \nJ18  ' no
2    '  \nJ'    no              '  \nJ18  ' no              '  \nJ18  ' no
3    'J18'      yes             'J18  '    no              'J18  '    no
4    '18  '     no              '18  '     no              '18  '     no
5    '  '       no              '  '       no              '  '       no
'J18.9\nR60.9\nR10.4'
0    'J18'      yes             'J18.9'    yes             'J18.9\n'  no
1    '18.'      no              '18.9\n'   no              '18.9\nR'  no
2    '.9'       no              '.9\nR'    no              '.9\nR60'  no
3    '9\n'      no              '9\nR60'   no              '9\nR60.'  no
4    '\nR'      no              '\nR60.'   no              '\nR60.9'  no
5    'R60'      yes             'R60.9'    yes             'R60.9\n'  no
6    '60.'      no              '60.9\n'   no              '60.9\nR'  no
7    '.9'       no              '.9\nR'    no              '.9\nR10'  no
8    '9\n'      no              '9\nR10'   no              '9\nR10.'  no
9    '\nR'      no              '\nR10.'   no              '\nR10.4'  no
10   'R10'      yes             'R10.4'    yes             'R10.4'    no
11   '10.'      no              '10.4'     no              '10.4'     no
12   '.4'       no              '.4'       no              '.4'       no
13   '4'        no              '4'        no              '4'        no
'T82.5X1A'
0    'T82'      yes             'T82.5'    yes             'T82.5X'   yes
1    '82.'      no              '82.5X'    no              '82.5X1'   no
2    '.5'       no              '.5X1'     no              '.5X1A'    no
3    '5X'       no              '5X1A'     no              '5X1A'     no
4    'X1'       no              'X1A'      no              'X1A'      no
5    '1A'       no              '1A'       no              '1A'       no
6    'A'        no              'A'        no              'A'        no
'S36.8X9A'
0    'S36'      yes             'S36.8'    yes             'S36.8X'   yes
1    '36.'      no              '36.8X'    no              '36.8X9'   no
2    '.8'       no              '.8X9'     no              '.8X9A'    no
3    '8X'       no              '8X9A'     no              '8X9A'     no
4    'X9'       no              'X9A'      no              'X9A'      no
5    '9A'       no              '9A'       no              '9A'       no
6    'A'        no              'A'        no              'A'        no
'S36.8X9A'
0    'S36'      yes             'S36.8'    yes             'S36.8X'   yes
1    '36.'      no              '36.8X'    no              '36.8X9'   no
2    '.8'       no              '.8X9'     no              '.8X9A'    no
3    '8X'       no              '8X9A'     no              '8X9A'     no
4    'X9'       no              'X9A'      no              'X9A'      no
5    '9A'       no              '9A'       no              '9A'       no
6    'A'        no              'A'        no              'A'        no
'I10'
0    'I10'      yes             'I10'      no              'I10'      no
1    '10'       no              '10'       no              '10'       no
'I10'
0    'I10'      yes             'I10'      no              'I10'      no
1    '10'       no              '10'       no              '10'       no
'P22.9'
0    'P22'      yes             'P22.9'    yes             'P22.9'    no
1    '22.'      no              '22.9'     no              '22.9'     no
2    '.9'       no              '.9'       no              '.9'       no
3    '9'        no              '9'        no              '9'        no

14004747    []
14002839    []
14002323    []
14001355    []
14000201    []
14005633    []
24000550    []
24002181    []
24000721    []
24000129    []
24000117    []
24000186    []
14002203    []
14006139    []
24003520    []
14002421    []
14009193    []
24002598    []
Name: logprobs, dtype: object

In [114]:
# # Showing `output_msg` that exceeds ICD length
# abnormal_output_df = df[df['output_msg'].apply(lambda x:len(x) > 8)][['output_msg']]
# print(f"{abnormal_output_df.shape[0]} rowids with output_msg exceeding normal ICD length")
# print("Example:")
# print(abnormal_output_df.head(5))
# # df[df['output_msg'].apply(lambda x:len(x) > 8)][['output_msg','icds','best_icd']]

In [119]:
# df['icds'] = df.apply(lambda x: extract_icd_probabilities(x['logprobs'], output="logprobs"), axis=1)
df[['icds', 'parsed_icd_logprobs']] = df.apply(lambda x: pd.Series(extract_icd_probabilities(x['logprobs'], output="logprobs")), axis=1)
df['best_icd'] = df.apply(lambda x: pd.DataFrame(x['icds']).sort_values(by=1, ascending=False).iloc[0,0], axis=1)

[['A', -0.63648945], ['09', -1.4643841], ['\n', -0.9866263], ['R', -0.6599979]]

    0         1
0   A -0.636489
1  09 -1.464384
2  \n -0.986626
3   R -0.659998

[['09', -1.4643841], ['\n', -0.9866263], ['R', -0.6599979], ['50', -1.5362289]]

    0         1
0  09 -1.464384
1  \n -0.986626
2   R -0.659998
3  50 -1.536229

[['\n', -0.9866263], ['R', -0.6599979], ['50', -1.5362289], ['.', -0.05481864]]

    0         1
0  \n -0.986626
1   R -0.659998
2  50 -1.536229
3   . -0.054819

[['R', -0.6599979], ['50', -1.5362289], ['.', -0.05481864], ['9', -0.002321772]]

    0         1
0   R -0.659998
1  50 -1.536229
2   . -0.054819
3   9 -0.002322

[['50', -1.5362289], ['.', -0.05481864], ['9', -0.002321772], ['\n', -0.3524723]]

    0         1
0  50 -1.536229
1   . -0.054819
2   9 -0.002322
3  \n -0.352472

[['.', -0.05481864], ['9', -0.002321772], ['\n', -0.3524723], ['R', -0.56709456]]

    0         1
0   . -0.054819
1   9 -0.002322
2  \n -0.352472
3   R -0.567095

[['9', -0.002321772], ['\n', -0.3524723], ['R', -0.56709456], ['11', -1.263591]]

    0         1
0   9 -0.002322
1  \n -0.352472
2   R -0.567095
3  11 -1.263591

[['\n', -0.3524723], ['R', -0.56709456], ['11', -1.263591], ['.', -0.05834798]]

    0         1
0  \n -0.352472
1   R -0.567095
2  11 -1.263591
3   . -0.058348

[['R', -0.56709456], ['11', -1.263591], ['.', -0.05834798], ['0', -0.73551023]]

    0         1
0   R -0.567095
1  11 -1.263591
2   . -0.058348
3   0 -0.735510

[['11', -1.263591], ['.', -0.05834798], ['0', -0.73551023], ['\n', -0.5051807]]

    0         1
0  11 -1.263591
1   . -0.058348
2   0 -0.735510
3  \n -0.505181

[['.', -0.05834798], ['0', -0.73551023], ['\n', -0.5051807], ['R', -0.65759194]]

    0         1
0   . -0.058348
1   0 -0.735510
2  \n -0.505181
3   R -0.657592

[['0', -0.73551023], ['\n', -0.5051807], ['R', -0.65759194], ['63', -1.0282977]]

    0         1
0   0 -0.735510
1  \n -0.505181
2   R -0.657592
3  63 -1.028298

[['\n', -0.5051807], ['R', -0.65759194], ['63', -1.0282977], ['.', -0.0006772888]]

    0         1
0  \n -0.505181
1   R -0.657592
2  63 -1.028298
3   . -0.000677

[['R', -0.65759194], ['63', -1.0282977], ['.', -0.0006772888], ['4', -0.71002203]]

    0         1
0   R -0.657592
1  63 -1.028298
2   . -0.000677
3   4 -0.710022

[['63', -1.0282977], ['.', -0.0006772888], ['4', -0.71002203]]

    0         1
0  63 -1.028298
1   . -0.000677
2   4 -0.710022

[['.', -0.0006772888], ['4', -0.71002203]]

   0         1
0  . -0.000677
1  4 -0.710022

[['4', -0.71002203]]

   0         1
0  4 -0.710022

[['T', -0.05699169], ['43', -0.40684095], ['.', -0.0032439048], ['6', -0.0033706774]]

    0         1
0   T -0.056992
1  43 -0.406841
2   . -0.003244
3   6 -0.003371

[['43', -0.40684095], ['.', -0.0032439048], ['6', -0.0033706774], ['X', -0.076700725]]

    0         1
0  43 -0.406841
1   . -0.003244
2   6 -0.003371
3   X -0.076701

[['.', -0.0032439048], ['6', -0.0033706774], ['X', -0.076700725], ['5', -0.12652074]]

   0         1
0  . -0.003244
1  6 -0.003371
2  X -0.076701
3  5 -0.126521

[['6', -0.0033706774], ['X', -0.076700725], ['5', -0.12652074], ['A', -0.01016129]]

   0         1
0  6 -0.003371
1  X -0.076701
2  5 -0.126521
3  A -0.010161

[['X', -0.076700725], ['5', -0.12652074], ['A', -0.01016129]]

   0         1
0  X -0.076701
1  5 -0.126521
2  A -0.010161

[['5', -0.12652074], ['A', -0.01016129]]

   0         1
0  5 -0.126521
1  A -0.010161

[['A', -0.01016129]]

   0         1
0  A -0.010161

In [95]:
df[df.icds.apply(lambda x: len(x)) > 2].index
# pd.DataFrame(df.parsed_icd_logprobs[0][0])

Index(['14004747', '14002839', '14002323', '14001355', '14000201', '14005633',
       '24000550', '24002181', '24000721', '24000129', '24000117', '24000186',
       '14002203', '14006139', '24003520'],
      dtype='object')

In [107]:
# F(x): Given a list of ICDs in form of a list of tuples, convert each ICD into 1-dimension Series

# e.g. 24000721, 14002323
# df.loc[['24000721','24002173','14000052']]


def explode_icds(value, pairs=PAIRS):
    tmp = pd.DataFrame(value) # convert list of tuples to dataframe
    tmp = tmp.sort_values(by=1, ascending=False) # sort by descending probability
    tmp = tmp.stack().reset_index(drop=True) # convert to 1 row
    tmp = tmp.reindex(range(pairs*2), axis=1) # pad to fill PAIRS*2 columns
    return tmp
    # return pd.DataFrame(pd.DataFrame(value)[0].apply(pd.Series).stack().reset_index(drop=True)).T
    
icd_column_names_mapping = {i: f"cause{i}_icd10" if i % 2 == 0 else f"cause{i}_icd10_prob" for i in range(PAIRS*2)}


df.icds.apply(explode_icds) #.rename(columns=icd_column_names_mapping)
# df.join(df.icds.apply(explode_icds).rename(columns=icd_column_names_mapping))

,0,1,2,3,4,5,6,7,8,9
14004747,R50.9,0.669095,R63.4,0.591667,R11.0,0.568098,A09,0.380184,NaN,NaN
14002839,A,0.989890,X5,0.903661,T43.6,0.900937,NaN,NaN,NaN,NaN
14002323,N17.9,0.689487,T79.3,0.668288,T88.9,0.574930,NaN,NaN,NaN,NaN
14001355,D62,0.811189,D62,0.811189,K59,0.509930,NaN,NaN,NaN,NaN
14000201,R57.0,0.761464,J18.9,0.738739,K92.1,0.685314,R11.2,0.589249,K29.5,0.53433
14005633,K65,0.401702,B50,0.355547,B50,0.355547,NaN,NaN,NaN,NaN
24000550,B50,0.612482,B50,0.612482,K65,0.533676,NaN,NaN,NaN,NaN
24002181,A,0.995012,S36.8,0.786977,X9,0.341037,NaN,NaN,NaN,NaN
24000721,J45.909,0.746794,V89.2,0.723068,T79.6,0.592590,NaN,NaN,NaN,NaN
24000129,R60.9,0.941350,I63.9,0.728296,H54,0.490848,NaN,NaN,NaN,NaN
24000117,J18,0.955443,J18,0.955443,I50,0.693447,NaN,NaN,NaN,NaN
24000186,R60.9,0.760384,J18.9,0.743683,R10.4,0.691221,NaN,NaN,NaN,NaN
14002203,A,0.988772,X1,0.935299,T82.5,0.520815,NaN,NaN,NaN,NaN
14006139,A,0.996264,X9,0.591768,S36.8,0.573236,NaN,NaN,NaN,NaN
24003520,A,0.998233,S36.8,0.727599,X9,0.543140,NaN,NaN,NaN,NaN
14002421,I10,0.511531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14009193,I10,0.925003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24002598,P22.9,0.753638,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df

In [ ]:
df[['cause1_icd10', 
    'cause1_icd10_prob', 
    'cause2_icd10', 
    'cause2_icd10_prob', 
    'cause3_icd10', 
    'cause3_icd10_prob', 
    'cause4_icd10', 
    'cause4_icd10_prob', 
    'cause6_icd10', 
    'cause6_icd10_prob']] = np.nan

In [ ]:
df